@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fredoka:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  font-weight: 500;
  font-family: Nunito;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headingText {
    font-size: 67px;
    font-weight: 1000;
}

.bodyText {
    font-size: 20px;
}

@media (max-width: 600px) {
    .headingText {
        font-size: 40px;
    }

    .bodyText {
        font-size: 20px;
    }
}

.bg11Icon {
  position: relative;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Adjust as needed */
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}

.bg12Icon {
  position: relative;
  width: 100vw;
  height: 50vh;
  overflow: hidden; /* Ensures anything outside the container is cropped */
  object-fit: cover; /* Ensures the image covers the entire area */
  object-position: bottom; /* This will crop the top part of the image */
}

.bg31Icon {
  position: relative;
  width: 1287px;
  height: 712px;
  overflow: hidden;
  object-fit: cover;
}

/* Centered text section */
.whatsCookingOn {
  position: relative;
  line-height: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Responsive width */
  max-width: 536px;
  font-weight: 1000;
  font-size: 67px;
  text-align: center;
  font-family: Fredoka;
}

/* Wrapper with flexible dimensions */
.whatsCookingOnCampusWrapper {
  width: 100%;
  max-width: 536px;
  position: relative;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Additional centered text */
.fromClassesTo {
  position: relative;
  line-height: 1.3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 536px;
  font-size: 20px;
  text-align: left;
  padding-left: 23px;
}

/* Dynamic height and text alignment */
.fromClassesToClubsFromDoWrapper {
  width: 100%;
  max-width: 536px;
  position: relative;
  height: auto;
  font-size: 20px;
}
.frameParent {
  width: 536px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 53px;
}
.slide7 {
  align-self: stretch;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 212px 561px;
  box-sizing: border-box;
  width: 100vw; /* Full-screen width */
  overflow: hidden;
  background-image: url("/public/assets/bg1_1.svg");
  background-size: cover;
  background-position: top center; /* Equivalent to object-position: top */
  background-repeat: no-repeat; /* To avoid repeating the background */
}
.whatTheHeck {
  position: relative;
  line-height: 67px;
  display: flex;
  align-items: center;
  width: 469px;
  font-weight: 1000;
  font-family: Fredoka;
}
.whatTheHeckIsRicefieldWrapper {
  align-self: stretch;
  position: relative;
  height: 134px;
}
.theBestWay {
  margin: 0;
}
.theBestWayContainer1 {
  width: 100%;
}
.theBestWayContainer {
  position: relative;
  line-height: 23px;
  display: flex;
  align-items: center;
  width: 482px;
}
.theBestWayToThinkOfRicefWrapper {
  align-self: stretch;
  position: relative;
  height: 201px;
  font-size: 20px;
}
.frameContainer {
  width: 471px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 67px;
}
.frameChild {
  width: 438px;
  position: relative;
  height: 482px;
  object-fit: cover;
}
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 79px;
}
.slide8 {
  position: relative;
  align-self: stretch;
  background: linear-gradient(180deg, #f6f8f9 67.17%, #c4e2f6);
  /* height: 603px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw; /* Full-screen width */
  overflow: hidden;
}
.soHowDoesContainer {
  position: relative;
  line-height: 67px;
}
@media (max-width: 600px) {
  .soHowDoesContainer {
    line-height: 0.5em;
  }
}

.soHowDoesThisWorkWrapper {
  margin: 0;
  width: 469px;
  position: relative;
}
@media (max-width: 600px) {
  .soHowDoesThisWorkWrapper {
    width: auto;
  }
}

.soHowDoes {
  font-weight: 1000;
  font-family: Fredoka;
}
.slide31 {
  align-self: stretch;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  align-self: stretch;
  width: 100vw; /* Full-screen width */
  overflow: hidden;
  background-image: url("/public/assets/bg1_2.svg"); /* Add the URL of your background image */
  background-size: cover; /* Equivalent to object-fit: cover */
  background-position: bottom center; /* Equivalent to object-position: top */
  background-repeat: no-repeat; /* To avoid repeating the background */
}
.cook {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 67px;
  font-weight: 1000;
  font-family: Fredoka;
}
.cookWrapper {
  width: 162px;
  position: relative;
  height: 67px;
}
.wantToShare {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 23px;
  display: flex;
  align-items: center;
  width: 469px;
}
.wantToShareDramasComplainWrapper {
  align-self: stretch;
  position: relative;
  height: 70px;
  font-size: 20px;
  font-weight: 1000;
}
.frameItem {
  width: 435px;
  position: relative;
  height: 435px;
  object-fit: cover;
}

.slide32 {
  align-self: stretch;
  background-color: #f6f8f9;
  height: 502px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 139px 222px;
  box-sizing: border-box;
}
/* RESPONSIVE STYLES FOR 'cook' SECTION */
@media (max-width: 600px) {
  .slide32 {
    width: 100vw; 

    display: block;
    padding: 100px 10px;
    height: auto;
    max-width: 100%;

    & .frameDiv {
      flex-direction: column;
      gap: 0px;

      /* Image */
      & .frameItem {
        max-width: 100%;
        height: auto;
      }

      & .frameParent1 {
        width: auto;
        gap: 0px;

        & .cookWrapper {
          width: auto;

          & .cook {
            position: static;
          }
        }

        & .wantToShareDramasComplainWrapper {
          height: auto;
          padding-bottom: 80px;

          & .wantToShare {
            position: static;
            width: auto;
          }
        }
      }
    }
  }
}
.frameParent1 {
  width: 471px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}
.frameDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 81px;
}

.replyWrapper {
  width: 177px;
  position: relative;
  height: 67px;
  font-weight: 1000;
}
.cantFindA {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 23px;
  display: flex;
  align-items: center;
  width: 438px;
}
.cantFindACleanToiletSeatWrapper {
  width: 438px;
  position: relative;
  height: 70px;
  font-size: 20px;
  font-weight: 1000;
}
.frameParent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}
.groupParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 114px;
}
.slide321 {
  align-self: stretch;
  background-color: #f6f8f9;
  height: 502px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 144px 222px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  /* RESPONSIVE STYLES FOR 'reply' SECTION */
  .slide321 {
    width: 100vw;
    display: block;
    padding: 100px 10px;
    height: auto;
    max-width: 100%;

    & .groupParent {
      flex-direction: column-reverse;
      gap: 80px;

      & .frameItem {
        max-width: 100%;
        height: auto;
      }

      & .frameParent2 {
        gap: 0px;

        & .replyWrapper {
          width: auto;
          height: auto;
          padding-bottom: 20px;

          & .cook {
            position: static;
          }
        }

        & .cantFindACleanToiletSeatWrapper {
          width: auto; 
          height: auto;

          .cantFindA {
            position: static;
            display: block;
            width: auto;
          }
        }
      }
    }

    /* RESPONSIVE STYLES FOR 'recook' SECTION (same parent class) */

    & .frameParent3 {
      flex-direction: column;
      gap: 60px;

      & .recook3Icon {
        max-width: 100%;
        height: auto;
      }

      & .frameParent4 {
        width: auto;
        gap: 0px;

        & .recookWrapper {
          width: auto;

          & .cook {
            position: static;
          }
        }

        & .wantToShareDramasComplainWrapper {
            height: auto;
            padding-bottom: 20px;
            
            & .wantToShare {
              position: static;
              width: auto;
              display: block;
            }
          }
      }
    }
  }
}

.recookWrapper {
  width: 230px;
  position: relative;
  height: 67px;
  font-weight: 1000;
}
.frameParent4 {
  width: 472px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}
.recook3Icon {
  width: 435px;
  position: relative;
  border-radius: 20px;
  height: 435px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frameParent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
}

.putInYour {
  position: absolute;
  bottom: 10%;
  right: -5%; 
  line-height: 20px;
  transform: rotate(-25deg);
  transform-origin: 0 0;
  font-weight: 1000;
  font-family: Fredoka;
  /* width: 201px; */
}
.groupChild {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 74%;
  /* height: 469px; */
  object-fit: cover;
}
.upvoteIcon {
  width: 33px;
  position: relative;
  height: 33px;
  overflow: hidden;
  flex-shrink: 0;
}
.upvoteIcon:hover {
  cursor: pointer;
}
.b {
  position: relative;
  line-height: 16px;
  font-weight: 650;
}
.b:hover {
  cursor: pointer;
  color: #448d57;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.b2 {
  position: relative;
  line-height: 16px;
  font-weight: 650;
}
.b2:hover {
  cursor: pointer;
  color: #448d57;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.num {
  font-family: DM Sans;
  font-weight: 1000;
}

@media (max-width: 1220px) {
  .b {
    display: none;
  }
}

@media (max-width: 990px) {
  .b2 {
    display: none;
  }
}
.downvoteIcon {
  width: 33px;
  position: relative;
  height: 33px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.downvoteIcon:hover {
  cursor: pointer;
}
.vote {
  position: absolute;
  top: 69%;
  left: 65%;
  border-radius: 20px;
  background-color: #e5e7eb;
  border-style: solid;
  border-color: #c8cace;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 13px 30px;
  gap: 13px;
}
.votes {
  line-height: 67px;
  font-weight: 1000;
  font-family: Fredoka;
}

.cookClasses {
  position: relative;
  line-height: 67px;
  font-weight: 1000;
  font-family: Fredoka;
  width: 536px;
}
.groupDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 33px;
  font-family: "DM Sans";
}
.putInYourVoteParent {
  width: 636px;
  position: relative;
  /* height: 536px; */
  aspect-ratio: 1 / 1;
}
.upvoteDownvoteWrapper {
  width: 335px;
  position: relative;
  height: 134px;
  font-weight: 1000;
}
.agree {
  font-family: Nunito;
  font-weight: 800;
}
.veryfirst {
  font-weight: 800;
}
.tooTiredToContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 23px;
  display: flex;
  align-items: center;
  width: 337px;
}
.tooTiredToCookInWordsButWrapper {
  width: 337px;
  position: relative;
  height: 93px;
  font-size: 20px;
  font-weight: 1000;
}
.frameParent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  font-size: 67px;
  padding-right: 26px;
}
.groupContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.slide34 {
  align-self: stretch;
  background: linear-gradient(180deg, #f6f8f9 67.17%, #9edffd);
  height: 569px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 87px 195px;
  box-sizing: border-box;
  font-size: 20px;
}

/* RESPONSIVE STYLES FOR 'upvote downvote' SECTION */
@media (max-width: 600px) {
  .slide34 {
    width: 100vw;
    height: auto;
    display: block;
    padding: 100px 10px;

    & .groupContainer {
      flex-direction: column-reverse;

      & .putInYourVoteParent {
        max-width: 100%;

        & .putInYour {
          font-size: 20px;
          bottom: 10%;
          right: 10%;
          z-index: 1;
        }

        & .groupDiv {
          /* Image */
          & .groupChild {
            position: static;
            width: 90%;
            margin: auto;
          }

          & .vote {
            left: 10%;
            gap: 10px;
            padding: 10px 15px;

            & .upvoteIcon, & .downvoteIcon {
              width: 30px;
              height: 30px
            }

            & .num {
              font-size: 20px;
            }
          }
        }
      }

      & .frameParent5 {
        display: block;
        max-width: 100%;
        padding-right: 0;
        margin-bottom: 40px;

        & .upvoteDownvoteWrapper {
          width: auto;
          height: auto;
          margin-bottom: 30px;

          & .cook {
            position: static;

            & .votes {
              line-height: 1.5em;
            }
          }
        }

        & .tooTiredToCookInWordsButWrapper {
          max-width: 100%;
        }
      }
    }
  }
}


.cookYourClassesWrapper {
  width: 320px;
  position: relative;
  height: 201px;
  font-weight: 1000;
}
.examPrepAssignment {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 23px;
  display: flex;
  align-items: center;
  width: 435px;
}
.frameParent7 {
  width: 435px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.frameParent6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 117px;
}
.slide35 {
  align-self: stretch;
  background: #f6f8f9;
  height: 502px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 144px 222px;
  padding-bottom: 240px;
  box-sizing: border-box;
}

/* RESPONSIVE STYLES FOR 'cook your classes' SECTION */
@media (max-width: 600px) {
  .slide35 {
    width: 100vw;
    height: auto;
    display: block;
    padding: 100px 10px;

    & .frameParent6 {
      flex-direction: column;
      gap: 60px;

      & .frameItem {
        max-width: 100%;
        height: auto;
      }

      & .frameParent7 {
        width: auto;
        display: block;

        & .cookClasses {
          width: auto;
          margin-bottom: 10px;
        }

        & .wantToShareDramasComplainWrapper {
          height: auto;

          & .examPrepAssignment {
            position: static;
            width: auto;
            display: block;
          }
        }
      }
    }
  }
}


.weAreLaunchingNextSemesterWrapper {
  width: 670px;
  position: relative;
  height: 134px;
  font-weight: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weAreLaunching {
  position: relative;
  line-height: 0.9;
  font-weight: 1000;
  width: 536px;
  font-family: Fredoka;
}
.itsGonnaBeLitToBeOneOfWrapper {
  width: 388px;
  position: relative;
  height: 134px;
  text-align: left;
  font-size: 20px;
  line-height: 1.2;
}
.joinTheWaitlist {
  position: relative;
  line-height: 16px;
  font-weight: 800;
  font-size: 16px;
}
.joinWaitlistButton1 {
  width: 192px;
  border-radius: 23px;
  background-color: #448d57;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.joinWaitlistButton1:hover {
  opacity: 90%;
  cursor: pointer;
}
.joinWaitlistButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.viewPrototypeButton1 {
  width: 192px;
  border-radius: 23px;
  border: 1px solid #000;
  box-sizing: border-box;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.viewPrototypeButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #000;
}
.viewPrototypeButton:hover {
  cursor: pointer;
  opacity: 70%;
}
.joinWaitlistButtonParent {
  display: flex;
  flex-direction: row;
  width: 395px;
  align-items: space;
  justify-content: space-between;
  font-size: 18px;
  color: #fff;
}
.frameParent8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.slide10 {
  align-self: stretch;
  background: linear-gradient(180deg, #9edffd, #bae4f5);
  height: 536px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  font-family: Nunito;
}
.upcomingFeaturesTxtContainer {
  /* line-break: anywhere; */
  width: 100%;
}
.upcomingFeatures {
  display: flex;
  align-items: center;
  width: 321px;
  font-weight: 1000;
  font-family: Fredoka;
}
.eventsWrapper {
  height: 113px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.events {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 36px;
}
.appTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
}
.eventsContent {
  width: 194px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
}
.appContent {
  width: 180px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
}
.noLongerMissingOutOnCoolWrapper {
  width: 226px;
  position: relative;
  height: 70px;
  font-size: 20px;
  font-weight: 1000;
}
.frameParent11 {
  position: absolute;
  top: 7px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.anonymous {
  position: absolute;
  top: 1px;
  left: 0px;
  line-height: 23px;
}
.anonymousWrapper {
  width: 185px;
  position: relative;
  height: 30px;
  font-weight: 1000;
}
.cookYourCampusAsATrueFarWrapper {
  width: 247px;
  position: relative;
  height: 70px;
  font-size: 20px;
  font-weight: 1000;
}
.frameParent12 {
  position: absolute;
  top: 0px;
  left: 346px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.appWrapper {
  width: 65px;
  position: relative;
  height: 30px;
}
.late2025FasterCoolerMorWrapper {
  width: 154px;
  position: relative;
  height: 70px;
  font-size: 20px;
  font-weight: 1000;
}
.frameParent13 {
  position: absolute;
  top: 0px;
  left: 753px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.frameParent10 {
  display: flex;
  flex-direction: row;
  width: 75vw;
  justify-content: space-between;
  position: relative;
  text-align: left;
  height: 268px;
}
.frameParent9 {
  width: 907px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 636px;
  gap: 13px;
}
.slide11 {
  width: 100vw; /* Full-screen width */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 13px;
  box-sizing: border-box;
  text-align: center;
  align-self: stretch;
  overflow: hidden;
  background-image: url("/public/assets/bg3_1.svg");
  background-size: cover;
  background-position: top center; /* Equivalent to object-position: top */
  background-repeat: no-repeat; /* To avoid repeating the background */
  line-height: 1;
}
.furtherInformation {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 1000;
}
.viewPrototype {
  border-radius: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.landingFooterButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 268px;
  font-family: Nunito;
}
.landingFooterButtonParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
}
.footerRight {
  display: flex;
  flex-direction: column;
  height: 435px;
  justify-content: space-between;
  padding-top: 46px;
  padding-right: 67px;
}

.furtherInformationParent {
  position: relative;
  width: 252px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  color: #ffd700;
}
.footerBottomRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18vh;
}
.copyright2024Ricefield {
  position: relative;
  line-height: 20px;
}
.copyright2024RicefieldAllWrapper {
  position: relative;
  width: 335px;
  height: 20px;
  font-size: 13px;
  font-family: DM Sans;
}
.instaLogoIcon {
  width: 26px;
  position: relative;
  height: 26px;
  overflow: hidden;
  flex-shrink: 0;
}
.xLogoIcon {
  width: 26px;
  position: relative;
  height: 26px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.tiktokLogoIcon {
  width: 23px;
  position: relative;
  height: 26px;
  overflow: hidden;
  flex-shrink: 0;
}
.footerSocialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 33px;
}
.footerSocialMedia:hover {
  cursor: pointer;
  opacity: 80%;
}

/* RESPONSIVE STYLES FOR 'footer' */
@media (max-width: 600px) {
  .footerRight {
    height: auto;
    max-width: 100%;
    padding-right: 0px;

    & .furtherInformationParent {
      & .furtherInformation {
        width: auto;
      }

      width: auto;
      padding-bottom: 50px;

      & .landingFooterButtonParent {
        max-width: 100%;

        & .landingFooterButton {
          max-width: 100%;
          text-align: left;
        }
      }
    }

    & .copyright2024RicefieldAllWrapper {
      max-width: 100%;
    }
  }
}


.duy {
  margin: 0;
  font-weight: 900;
}
.duyEverythingFarmerContainer {
  position: absolute;
  top: 0px;
  left: 14px;
  line-height: 20px;
}
.minhOperatingFarmerContainer {
  position: absolute;
  top: 29px;
  left: 152px;
  line-height: 20px;
}
.lamTechnologyFarmerContainer {
  position: absolute;
  top: 2px;
  left: 296px;
  line-height: 20px;
}
.groupItem {
  position: absolute;
  top: 44px;
  left: 0px;
  width: 503px;
  height: 290px;
  object-fit: cover;
}
.duyEverythingFarmerParent {
  position: absolute;
  top: 151px;
  left: 95px;
  width: 503px;
  height: 335px;
  text-align: center;
  font-size: 18px;
  font-family: Nunito;
}
.mainLogoNoSlogan1 {
  position: absolute;
  top: 34px;
  left: 95px;
  width: 201px;
  height: 36px;
  overflow: hidden;
  object-fit: cover;
}
.footer {
  background-color: #448d57;
  color: #fff;
  font-family: Fredoka;
  padding-bottom: 4rem;
}
.footerLogo {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.footerGroup {
    padding: 0 13px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem;
    align-self: stretch;
    position: relative;
    font-size: 21px;
}
@media (min-width: 804px) {
    .footerGroup {
        margin: auto 67px;
    }
    .footerRight {
        margin-right: 67px;
    }
}

.founderSvgText {
    font: 17px Nunito;
    fill: white;
}
.founderSvgTextTitle {
    font-weight: 900;
}
.founderSvgTextSubtitle {
    font-style: italic;
}

.founderGraphic {
    display: block;
    width: 469px;
    max-width: 100%;
}

.footerButton {
  margin: 0px;
}
.footerButton:hover {
  cursor: pointer;
  color: #ffd700;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 700;
}
.footerButton1 {
  margin: 0px;
}
.footerButton1:hover {
  cursor: pointer;
  color: #ffd700;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 700;
}
.footerButton2 {
  margin: 0px;
}
.footerButton2:hover {
  cursor: pointer;
  color: #ffd700;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 700;
}
.footerButton3 {
  margin: 0px;
}
.footerButton3:hover {
  cursor: pointer;
  color: #ffd700;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 700;
}
.mainPageContainer {
  /* position: absolute;
  top: 67px;
  left: 0px; */
  padding-top: 67px;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; */
}

@media (max-width: 600px) {
  .mainPageContainer {
    padding-top: 0px;
  }
}

.tpMainLogoNoSloganGreen {
  width: 201px;
  position: relative;
  height: 33px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ricefieldLogo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.joinWaitlistButton2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 18px;
  color: #fff;
}
.joinWaitlistButton2:hover {
  cursor: pointer;
  opacity: 90%;
}
.headerButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 26px;
}
.headerLanding {
  background-color: #fff;
  width: 1286px;
  height: 67px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 70px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  font-family: Nunito;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.headerStretch {
  width: 100vw;
  height: 67px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: #dcdddf;
  border-bottom-style: solid;
}
.landingFrame {
  width: 100vw;
  overflow-x: hidden;

  position: relative;
  /* height: 5830px; */
  text-align: left;
  font-size: 67px;
  color: #000;
}

/* Add responsive styles - Introduction Page */
/* Add responsive styles - Introduction Page */
@media screen and (max-width: 1440px) {
  .slide7 {
    padding: 317px 20px;
  }
  .frameParent {
    width: 90%;
    max-width: 800px;
  }
  .frameGroup {
    flex-direction: column;
    gap: 60px;
  }
  .frameChild {
    width: 100%;
    max-width: 654px;
    height: auto;
  }
  .frameContainer {
    width: 100%;
    padding: 0 20px;
  }
}

@media screen and (max-width: 1024px) {
  .whatsCookingOn {
    font-size: 80px;
  }
  .whatTheHeck {
    font-size: 70px;
    line-height: 80px;
  }
  .fromClassesTo {
    font-size: 24px;
    line-height: 1.4;
  }
}

@media screen and (max-width: 768px) {
  .whatsCookingOn {
    font-size: 60px;
  }
  .whatTheHeck {
    font-size: 50px;
    line-height: 60px;
    width: 100%;
  }
  .whatTheHeckIsRicefieldWrapper,
  .theBestWayToThinkOfRicefWrapper {
    width: 100%;
    height: auto;
  }
  .theBestWayContainer {
    width: 100%;
  }
  .theBestWayContainer1 {
    display: block;
    width: 100%;
  }
  .slide7,
  .slide8 {
    padding: 40px 20px;
    height: auto;
    min-height: 100vh;

    & .frameContainer {
      gap: 40px;
    }
  }
}

@media screen and (max-width: 480px) {
  .whatsCookingOn {
    font-size: 40px;
  }
  .whatTheHeck {
    font-size: 40px;
    line-height: 50px;
  }
  .fromClassesTo {
    font-size: 20px;
    padding: 0;
  }
  .theBestWay {
    font-size: 20px;
    line-height: 1.4;
  }
}

/* Add responsive styles - LaunchSection  */
@media screen and (max-width: 1200px) {
  .weAreLaunchingNextSemesterWrapper {
    width: 90%;
    max-width: 800px;
  }

  .weAreLaunching {
    width: 100%;
    font-size: 80px;
  }
}

@media screen and (max-width: 992px) {
  .slide10 {
    padding: 40px 20px;
    height: auto;
    min-height: 800px;
  }

  .weAreLaunching {
    font-size: 70px;
  }

  .itsGonnaBeLitToBeOneOfWrapper {
    width: 90%;
    max-width: 580px;
    height: auto;
  }

  .joinWaitlistButtonParent {
    width: 100%;
    max-width: 590px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .frameParent8 {
    gap: 40px;
  }

  .weAreLaunching {
    font-size: 50px;
  }

  .itsGonnaBeLitToBeOneOfWrapper {
    font-size: 24px;
  }

  .joinWaitlistButtonParent {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .joinWaitlistButton1,
  .viewPrototypeButton1 {
    width: 100%;
    max-width: 288px;

    padding: 10px;
  }

  .joinTheWaitlist {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .slide10 {
    padding: 30px 15px;
  }

  .weAreLaunching {
    font-size: 40px;
  }

  .itsGonnaBeLitToBeOneOfWrapper {
    font-size: 20px;
  }

  .joinTheWaitlist {
    font-size: 18px;
  }

  .joinWaitlistButton1,
  .viewPrototypeButton1 {
    height: 56px;
    border-radius: 28px;
  }
}

/* Add responsive styles - Upcoming Feature */
@media screen and (max-width: 1400px) {
  .frameParent9 {
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 40px 20px;
  }

  .frameParent10 {
    width: 90%;
    height: auto;
    gap: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .upcomingFeatures {
    width: 100%;
    max-width: 400px;
    font-size: 80px;
  }

  .events,
  .appTitle {
    font-size: 45px;
  }

  .eventsContent,
  .appContent {
    width: 250px;
    font-size: 22px;
  }
}

@media screen and (max-width: 992px) {
  .frameParent10 {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .eventsWrapper {
    height: auto;
    gap: 20px;
    align-items: center;
    text-align: center;
  }

  .events,
  .appTitle {
    font-size: 40px;
    justify-content: center;
  }

  .eventsContent,
  .appContent {
    width: 100%;
    max-width: 350px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .slide11 {
    padding: 40px 20px;
    height: auto;
    min-height: 100vh;
  }

  .upcomingFeaturesTxtContainer {
    line-break: normal;
  }

  .upcomingFeatures {
    font-size: 60px;
  }

  .events,
  .appTitle {
    font-size: 35px;
  }

  .eventsContent,
  .appContent {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .slide11 {
    padding: 30px 15px;
  }

  .upcomingFeatures {
    font-size: 45px;
  }

  .events,
  .appTitle {
    font-size: 30px;
  }

  .eventsContent,
  .appContent {
    font-size: 18px;
    max-width: 280px;
  }

  .frameParent10 {
    gap: 40px;
  }
}

/* Responsive styles for feature frames for smaller desktop screens */
/* @media (min-width: 600px) and (max-width: 1600px) {
  .featureFrame {
     transform: scale(0.7); 
  }
} */